*{
    font-family:verdana;
    font-weight: normal;
    font-size: 50px;
    color:white;
    position: center;
}

a {
    color: aquarmine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
}

logo {
    text-align: right;
    color:gray;
}